.chart rect {
fill: steelblue;
};

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
  color: white;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.9);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

svg text {
  fill: #ffffff;
  font-size: 12px;
}        
          
.mainbox {
  border: 30px solid #111111;
  padding: 10px;
  background: #222222;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}   

.mainbox div {
  margin: 2px;
}

.library-select-div {
  min-width: 140px;
  float: left;
  height: 20px;
  display: table;
  text-align: left;
}

.clear { clear: both; }

.library-select-color {
  width: 10px;
  height: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.dataset-select-color {
  width: 12px;
  height: 16px;
  display: inline-block;
}

.dataset-select-div {
  min-width: 140px;
  float: left;
  height: 20px;
  display: table;
  text-align: left;
}

.dataset-select-label,
.library-select-label {
  font-size: 60%;
  color: #fff;
}

.dataset-select-title, .library-select-title {
  font-size: 75%;
  color: #eab72c;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.dataset-select-title-text, .library-select-title-text {
  display: inline;
  padding-right: 20px;
}

.dataset-select-title-enable-all, .dataset-select-title-disable-all,
.library-select-title-enable-all, .library-select-title-disable-all {
  display: inline;
  font-size: 60%;
  color: #ffffff;
  padding-bottom: 4px;
}

.dataset-select-title-enable-all:hover, .dataset-select-title-disable-all:hover,
.library-select-title-enable-all:hover, .library-select-title-disable-all:hover
{
  color: #bb2222;
}

.dataset-select-title-bar, .library-select-title-bar {
  display: inline;
  font-size: 60%;
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
}

.dataset-select-title-open-paren, .dataset-select-title-close-paren,
.library-select-title-open-paren, .library-select-title-close-paren {
  font-size: 60%;
  color: #ffffff;
  display: inline;
}

.library-select-title {
  font-size: 75%;
  color: #eab72c;
  padding: 10px;
}

.method-select-label, .param-select-label, .main-dataset-select-label {
  float: left;
  font-size: 75%;
  color: #ffffff;
  margin-right: 8px;
}

#method_select, #param_select, #main_dataset_select,
#metric_select, #option_select {
  float: left;
  margin-right: 20px;
}

.chart-type-radio {
  float: left;
  color: #ffffff;
  font-size: 75%;
}
.chart-type-radio-label {
  display: block;
  color: #ffffff;
  font-size: 75%;
  text-align: left;
}
.selectholder {
  padding-top: 1em;
}

.dc-index-label, .mmpc-index-label {
  float: left;
  font-size: 60%;
  color: #ffffff;
  font-weight: bold;
  margin-right: 3em;
}

.dc-method-select-label, .dc-param-select-label, .dc-library-select-label,
.mmpc-param-select-label, .mmpc-library-select-label
{
  font-size: 75%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.methodcontrol {
  margin-bottom: 1em;
}

.runtime-table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #888888;
  border-collapse: collapse;
}

.runtime-table td {
  border-top: 1px solid #888888;
  border-right: 1px solid #888888;
}
.runtime-table td.dataset-name {
  color: #ffffff;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 4px;
}

.runtime-table th {
  color: #ffffff;
}

.runtime-table td.timing-cell {
  font-family: 'Cousine', fixed;
}

.runtime-table td.timing-text-cell {
  font-family: 'Cousine', fixed;
  text-align: center;
  color: #bb2222;
}

.runtime-table td.timing-not-run-cell {
  font-family: 'Cousine', fixed;
  text-align: center;
  color: #606060;
}
