body *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media all and (min-width: 940px){
	.container{
		width: 940px !important; 
	}
}

.container--graph{
	background-color: #f3f3f3;
	overflow: hidden;
	margin-bottom: 30px;
	-webkit-transform: translateZ(0);
}
.graph--name{
	float: left;
	width: 20%;
	padding-right: 20px;
	font-weight: 700;
}
.holder--progressBar{
	@extend .graph--name;
	position: relative;
	width: 65%;
	font-weight: 100;
	color: #fff;
}
.progressBar__firstPart{
	float: left;
	background-color: #5eb95e;
	background-image: -moz-linear-gradient(top,#62c462,#57a957);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#57a957));
	background-image: -webkit-linear-gradient(top,#62c462,#57a957);
	background-image: -o-linear-gradient(top,#62c462,#57a957);
	background-image: linear-gradient(to bottom,#62c462,#57a957);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff57a957',GradientType=0);
	width: 50%;
	height: 32px;
	display: block;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.progressBar__secondPart{
	@extend .progressBar__firstPart;
	width: 50%;
	background-color: #dd514c;
	background-image: -moz-linear-gradient(top,#ee5f5b,#c43c35);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#c43c35));
	background-image: -webkit-linear-gradient(top,#ee5f5b,#c43c35);
	background-image: -o-linear-gradient(top,#ee5f5b,#c43c35);
	background-image: linear-gradient(to bottom,#ee5f5b,#c43c35);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffc43c35',GradientType=0);
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.progressBar__percentage{
	position: absolute;
	text-align: center;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	top: 50%;
	line-height: 1;
	font-size: 16px;
	margin-top: -8px;
}

.btn-group{
	width: 150px;
	position: absolute;
	right: 0;
}

.container__topContent,
.container__bottomContent{
	overflow: hidden;
}

.container__bottomContent{
	> div {
		padding-top: 20px;
	}
}

.btn-grey{
	color: #333;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #ccc;
	border-bottom-color: #b3b3b3;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	&:hover{
		color: #333;
		text-decoration: none;
		background-position: 0 -15px;
		-webkit-transition: background-position .1s linear;
		-moz-transition: background-position .1s linear;
		-o-transition: background-position .1s linear;
		transition: background-position .1s linear;
		background-color: #e6e6e6;
	}
	&:active,
	&:focus{
		color: #333;
	}
}

.center--image{
	display: block; 
	margin: 0 auto;
}

.pagination--holder{
	@extend .center--image;
	overflow: hidden;
	text-align: center;
}